body {
	text-align:center;
	margin: 0;
	padding: 0;
	}
	
#wrapper {
	max-width: 960px;
	margin: 0 auto;
	}
	
.title {
	margin-top: 25px;
	margin-bottom: 50px;	
	font-style: italic;
	}
	
# .pics {
# 	width: 960px;
# 	border-style: solid;
# 	}
	
	
#chapter {
	font-size:20pt;
	margin: 15px 0px 0px 65px;
	float: left;
# 	border-style: solid;
	width: 475px;
	}
	
#list {
	}
	
#feast {
	width: 175px;
	height: 278px;
	float: left;
	}

#dance {
	width: 175px;
	height: 278px;
	float: right;
	}

#buttons {
# 	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	clear: left;
	width: 200px;
# 	float: left;
	}
	
.hide {
	visibility: hidden;
	}

.show {
	visibility: visible;
	}